.pic1 {
    height: 100%;
    width: 100%;


}
.pic2 {
    width: 100%;
    height: 100%;

}
.pic3 {
    width: 100%;
    height: 100%;

}

.navbar-brand{
    color: aliceblue;
    text-shadow: 10cqmax;
}